*

!/assets/
!/assets/**

!/cmake/
!/cmake/**

!/docs/
!/docs/**

!/include/
!/include/**

!/installer/
!/installer/**

!/plugins/
!/plugins/**

!/src/
!/src/**

!/vendor/
!/vendor/**

!/.clang-format

!.gitignore

!/CMakeLists.txt

!/README.md