*

!/assets/
!/assets/**

!/cmake/
!/cmake/**

!/docs/
!/docs/**

!/include/
!/include/**

!/installer/
!/installer/**

!/plugins/
!/plugins/**

!/src/
!/src/**

!/vendor/
!/vendor/**

!/README.md

!/.clang-format
!/.clangd

!/.github/
!/.github/**
!/.gitattributes
!.gitignore


!/CMakeLists.txt
!/CMakePresets.json
!/CMakeUserPresets.json.example

!/.mailmap
!/version.rc.in
